<VirtualHost *:80>
  ServerName {{ ansible_fqdn }}
  {% if server_aliases %}
  ServerAlias {% for alias in server_aliases %}{{ alias }} {% endfor %}
  {% endif %}
  DocumentRoot {{ web_dir }}/web

  <Directory "{{ web_dir }}/web">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>
  <FilesMatch \.php$>
    SetHandler "proxy:unix:/run/php/php7.0-fpm.sock|fcgi://127.0.0.1:9000"
  </FilesMatch>

  RewriteEngine on
  RewriteMap legacy "dbm:{{ web_dir }}/redirect/legacy.map"
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ ansible_fqdn }}
  {% if server_aliases %}
  ServerAlias {% for alias in server_aliases %}{{ alias }} {% endfor %}
  {% endif %}
  DocumentRoot {{ web_dir }}/web

  <Directory "{{ web_dir }}/web">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>
  <FilesMatch \.php$>
    SetHandler "proxy:unix:/run/php/php7.0-fpm.sock|fcgi://127.0.0.1:9000"
  </FilesMatch>
  {% if ssl_cert_path and ssl_key_path %}
  SSLEngine on
  SSLCertificateFile {{ ssl_cert_path }}
  SSLCertificateKeyFile {{ ssl_key_path }}
  {% endif %}
  RewriteEngine on
  RewriteMap legacy "dbm:{{ web_dir }}/redirect/legacy.map"
</VirtualHost>
